<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../../public/newArticle.css" rel="stylesheet" type="text/css">
    <title>Blog</title>
</head>

<body>

    <section>
        <div class="container">
            <div class="user articleBx">
                <div class="formBx">
                    
                    <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
                        <h2>Write an Article</h2>
                        <label  class="labels"  for="title">Title</label>
                        <input required type="text" class="" value="<%= article.title %>" id="title" name="title">
                        
                        <label  class="labels" for="Shortdescription">Short Description</label>
                        <input required type="text" class="" value="<%= article.Shortdescription %>" id="Shortdescription" name="Shortdescription">
                        
                        <label class="labels"  for="Fulldescription">Full Description</label>
                        <textarea name="Fulldescription" class="" id="Fulldescription"><%= article.Fulldescription %></textarea>
                        
                        <label  class="labels" for="social">Any Social Profile</label>
                        <input  type="text" class="" value="<%= article.social %>" id="social" name="social">

                        
                        <label  class="labels" for="image">Enter Image URL:</label>
                        <input type="text" class="" id="image" name="image" value="<%= article.image %>" required>

                        <div class="control-buttons">
                            
                        <div class="cancel"><a href="/" class="btn btn-danger">Cancel</a></div>

                        <button type="submit"  class="btn btn-success"name="" id="">Save</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

  
</body>

</html>