<%- include("./../partials/header") %>
<!-- <link href="../../index.css" rel="stylesheet"> -->
<style>
  .blogHeading{
    font-size:3.5rem;
    margin-bottom:50px;
  }
  .blogGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    padding:10px;
    width: 60%;
    display: flex;
    border:2px solid black;
    margin-top:40px;
    box-shadow:4px 2px 2px 1px black;
  }
  .left{
    display:flex;
    align-items: center;
    justify-content: center;
    width:300px;
    margin-left:10px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }
  .left img{
    width:280px;
    height:180px;
  }
  .card .right{
    padding:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right .title h3{
    font-size:2.2rem;
    margin-bottom: 15px;
  }
  .des p{
    font-size:1.6rem;
  }
  .readMore{
    font-size:1.5rem;
    color:red;
  }
  .new-article-section{
        margin-top:100px;
        justify-content: center;
      }
      .new-article-btn{
        border:2px solid red;
        display:block;
        margin:20px auto;
        width:200px;
        padding:10px;
        font-size:1.5rem;
        border-radius: 7px;
        font-family: sans-serif;
        
      }
      a{
        color:#011c39;
      }
      .new-article-icon{
         color:red;
      }
      .new-article-text{
        margin-left:30px;
      }
      @media screen and (max-width:768px){
        .card{
          width:90%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .left{
          width:80%;
        }
        .left img{
          width:300px;
        }
      }
</style>
</head>

<body>
  <div class="container">
    <h1 class="blogHeading" style="margin-top:70px;text-align: center;">Blog Articles</h1>
    <!-- <h3 style="margin-top: 50px; text-align:center"> Blog Articles</h3> -->
    <!-- articles -->
    <div class="blogGrid">
      <% articles.forEach(article=>{ %>

      <div class="card">
        <div class="left">
          <img src="<%= article.image %>" alt="image of road">
        </div>
        <div class="right">
          <div class="title">
            <h3><%= article.title %></h3>
          </div>
          <div class="des">
            <p><%= article.Shortdescription %></p>
            <a class="readMore" href="/articles/<%= article.id %>" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <!-- New Article Btn -->
    <div class="new-article-section">
      <h2 style="text-align:center;font-size:2.3rem;color:red;">You can Write too!</h2>
      <a href="/articles/new" class="new-article-btn"><span class="new-article-icon"><i class="fa fa-plus"
            aria-hidden="true"></i></span><span class="new-article-text">New Article</span></a>
    </div>
  </div>

  <%- include("./../partials/footer") %>
