<%- include("./../partials/header") %>

    <style>
      body{
        box-sizing: border-box;
        background-color:#c6e9fd;
        background-color:white;
       }
       .container{
         margin-bottom: 100px;
       }
       .blog-heading{
         font-size:3.5rem;
         color:#fa9905;
         font-family:cursive;
         text-align:center;
       }
      .blogGrid{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        margin-top: 50px;
        margin-bottom:40px;
       /* background-color: #fa9905;
        background-color: #011c39; */
        border:4px solid #fa9905;
        border-radius:15px;
        padding: 30px 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

      }
      .new-article-section{
        margin-top:50px;
        justify-content: center;
      }
      .new-article-btn{
        border:2px solid red;
        display:block;
        margin:20px auto;
        width:200px;
        padding:10px;
        font-size:1.5rem;
        border-radius: 7px;
        font-family: sans-serif;
        
      }
      a{
        color:#011c39;
      }
      .new-article-icon{
         color:red;
      }
      .new-article-text{
        margin-left:30px;
      }
     
      /* Cards */
        .card{
          position:relative;
          width: 20rem;
          height: 28rem;
          display: inline-block;
          background-color: #393e46;
          background-color: white;
          color:#fa9905;
          margin:40px;
          box-shadow: 2px 1px 10px black;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
        .image{
          height:14rem;
        }
        .image img{
          width: 100%;
          height:14rem;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
        .title{
          text-align: center;
          margin-top: 0.3rem;
          padding: 5px;
          height:5rem;
          font-size:2rem;
          font-weight:1000;
          font-family:monospace;
        }
        .des{
          text-align: center;
          margin-top: 3px;
          height: 9rem;
        }
        .readMore{
          position:absolute;
          bottom:10px;
          right:5rem;
          font-size:1.3rem;
          text-decoration: none;
          background-color: white;
          border: 2px solid black;
          padding-left: 0.2rem;
          padding-right: 0.2rem;
          padding-top: 5px;
          padding-bottom: 5px;
          border-radius: 5px;
          cursor: pointer;
          width:10rem;
          text-align: center;
         }
        .readMore:hover{
          background-color: black;
          color: white;
          transition: 2s;
        }
  </style>
</head>
<body>
    <div class="container">
      <h1 class="blog-heading" style="margin-top:70px;">Blog Articles</h1>
        <!-- articles -->
        <div class="blogGrid">  
        <% articles.forEach(article=>{ %>
                <div class="blogBox"
              
                <!-- Apoorv Card design -->
                <div class="card">
                  <div class="image">
                    <img src="<%= article.image %>" alt="image of road"></div>
                  <div class="title">
                    <h3><%= article.title %></h3>
                  </div>
                  <div class="des">
                    <p><%= article.Shortdescription %></p>
                    <a class="readMore" href="/articles/<%= article.id %>" class="btn btn-primary">Read More</a>
                  </div>
               </div>
            </div>
        <% }) %>
        </div>
        <!-- New Article Btn -->
        <div class="new-article-section">
          <h2 style="text-align:center;font-size:2.3rem;color:red;">You can Write too!</h2>
        <a href="/articles/new" class="new-article-btn"><span class="new-article-icon"><i class="fa fa-plus" aria-hidden="true"></i></span><span class="new-article-text">New Article</span></a>
       </div>
    </div>

    <%- include("./../partials/footer") %>
  