<%- include("./../partials/header") %>


   
    <section>
        <div class="container">
            <div class="user articleBx">
                <div class="formBx">
                    <h2>Write an Article</h2>
                    <form action="/articles" method="POST">
                       <input  required type="text" placeholder="Enter Your Blog Title" class="" value="<%= article.title %>" id="title" name="title">
                        <input required type="text" placeholder="Enter Short Description" class="" value="<%= article.Shortdescription %>" id="Shortdescription" name="Shortdescription">
                        <textarea name="Fulldescription" placeholder="Enter Your Blog Content" class="" id="Fulldescription"><%= article.Fulldescription %></textarea>
                        <input  type="text" class="" placeholder="Social Profile url" value="<%= article.social %>" id="social" name="social">
                        <input type="text" class="" placeholder="Blog Image Url" id="image" name="image" value="<%= article.image %>" required>

                        <div class="control-buttons">
                            
                        <div class="cancel"><a href="/" class="btn btn-danger">Cancel</a></div>

                        <button type="submit"  class="btn btn-success"name="" id="">Save</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include("./../partials/footer") %>
