<%- include("./../partials/header") %>



    <div class="container">
        <div class="top-section">
        <div class="author-section" >
                <img src="https://avatars.githubusercontent.com/u/56161073?v=4" class="author-image">
        </div>
          <div class="date-section" style="margin-left:30px;">
            <h3 class="article-title"><span style="text-transform: capitalize;"><%= article.title %></span>
            <br><span style="color:grey;">by </span><strong style="color:blue;font-size:1.5rem;">Aman Dixit</strong> 
            <span style="color:green;font-size:1.2rem;"><%= article.createdAt.toLocaleDateString() %></span></h3>
        </div>
        </div>
        
        <!-- Edit Section Commented-->
        <!--
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
        <form action="/articles/<%= article.id %>?_method=DELETE"  method="POST">
            <input type="submit" class="btn btn-danger mt-2 mb-4" value="DELETE">
        </form> 
    -->

        <div class="image">
            <img src="<%= article.image %>" class="blog-img"/>
        </div>
       
        <div class="blog-desc" >
            <p class="display-6"><%= article.Fulldescription %></p>
        </div>
    </div>




    <%- include("./../partials/footer") %>


    
    